:root {
  --main-color: #212121;
  --buttons-color: #2196f3;
  --title-color: #ffffff;
  --descriptions-color: #757575;
  --filters-color: #f5f4fa;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: var(--main-color);
}
.link:hover,
.link:focus,
link:active {
  color: var(--buttons-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left: 215px;
  width: 145px;
}
.web {
  color: var(--buttons-color);
}
.navi {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  width: 254px;
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--descriptions-color);
}
.contact:hover .contact:focus {
  color: var(--buttons-color);
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--title-color);
  width: 696px;
  text-align: center;
}
.order {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-color);
  cursor: pointer;
  background-color: var(--buttons-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 200px;
}
.feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--descriptions-color);
}
.work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  padding-top: 94px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
}
.team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--descriptions-color);
  width: 270px;
  height: 108px;
  background-color: #ffffff;
  text-align: center;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background-color: var(--filters-color);
  border: none;
  border-radius: 4px;
}
.filter:hover,
.filter:focus,
.filter:active {
  background-color: var(--buttons-color);
  color: var(--title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--descriptions-color);
}
.mail2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}
.logo2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}
.section {
  padding-block: 94px;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.title-wrapper {
  background-color: #2f303a;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.strengths-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.scope-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.members {
  background-color: #f5f4fa;
  height: 648px;
}
.margins {
  margin: 0px 0px 0px 0px;
}
.no-gap {
  display: block;
}
.no-padding {
  padding-bottom: 0px;
}
.team-wrapper {
  display: flex;
  justify-content: space-around;
}
.footer-bgcolor {
  background-color: #2f303a;
}
.footer-wrapper {
  height: 252px;
  display: flex;
}
.adress-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.filters-nav {
  padding-top: 94px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.item {
  flex-basis: calc(100%-60px / 3);
}
